body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255,255,255,0.6);
  background-color: #000;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* positioning */

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}


/* layout */
.flex {
  display: flex;
}
.justify-sb {
  justify-content: space-between;
}
.align-ct {
  align-items: center;
}


/* font */
.font-15 {
  font-size: 1.5rem;
}
.font-10 {
  font-size: 1rem;
}
.font-12 {
  font-size: 1.2rem;
}

.fw-900 {
  font-weight: 900;
}

/* dimensions */
.fl-width {
  width: 100%;
}

.h-hf {
  height: 2.875rem;
}

.mg-top {
  color: #000;
  margin-top: 2.875rem;
}

/* padding */
.pd5 {
  padding: 0 0.5em;
}

.pd10 {
  padding: 1em;
}
